@using MoviesDBModels
@model List<MoviesDBModels.FoodItem>

<div class="container">
    <h2 style="display: inline-block">Product Listing</h2>
    <button  class="btn btn-dark form-inline" style="float: right; display: inline-block" onclick="location.href='@Url.Action("AddFoodItem", "Cinema")'"><i class="fas fa-plus"></i> Add Product</button>
    <br/>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price (MXN)</th>
            <th scope="col">Avaliability</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var foodItem in Model)
        {
            <tr>
                <th scope="row">@foodItem.productName</th>
                <td>@foodItem.description</td>
                <td>$@String.Format("{0:0,0.00}", foodItem.price) MXN</td>
                <td>@foodItem.avaliable</td>
                <td><img src="@foodItem.image_url" alt="Image" style="max-height: 150px; max-width: 150px;"></td>
            </tr>
        }
        </tbody>
    </table>
</div>