@model List<MoviesDBModels.RoomShowTimesViewModel>

@{
    ViewBag.Title = "Showtimes";
    Layout = "_Layout";
    
    DateTime currentDate = DateTime.Now;
    List<SelectListItem> querybleDates = new List<SelectListItem>();

    for (int i = 0; i < 15; i++)
    {
        querybleDates.Add( new SelectListItem()
        {
            Text = currentDate.AddDays(i).ToString("yyyy MMMM dd"),
            Value = currentDate.AddDays(i).ToString()
        });
    }
}

<div class="container">
    <h2 style="display: inline-block">Showtimes for @ViewData["Date"]</h2>
    <button  class="btn btn-dark form-inline" style="float: right; display: inline-block" onclick="location.href='@Url.Action("AddShowTime", "MovieMan")'"><i class="fas fa-plus"></i> Add Showtime</button>
    <br/>
    <div class="container">
        <form asp-controller="MovieMan" asp-action="ListShowTimes" method="post">
            <h3>Find Showtimes for date</h3>
            <div class="row">
                <div class="col-sm-6">
                    <select class="form-control" name="date" asp-items="querybleDates"></select>
                </div>
                <div class="col-sm-6"><input type="submit" class="btn btn-dark" value="Search"/></div>
            </div>
        </form>
    </div>
    <br/>
    
    
    <div class="container">
        @foreach (var room in Model)
            {
                <h3>Room @room.cinemaRoom.RoomNumber</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Movie</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var showTime in room.showTimes)
                    {
                        <tr>
                            <td style="width: 40%">@showTime.movieName</td>
                            <td style="width: 30%">@showTime.startDate</td>
                            <td style="width: 30%">@showTime.endDate</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
    </div>
    
</div>

