@model MoviesDBModels.Movie;

<!DOCTYPE html>

<html>
<head>
    <title>Movie Detail</title>
</head>
<body>
<div>
    <div class="container">
        <div class="card mb-3">
          <img class="card-img-top" style="height: 300px;width: 150px;background-size: cover;" src='@("https://image.tmdb.org/t/p/w500" + @Model.backdrop_path)' alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title">@Model.original_title (@Model.vote_average / 10)</h4>
              <p>Runtime: @Model.runtime min</p>
              <div class="container row">
                  <p>Genre: <span> </span></p>
                  @foreach (var genre in Model.genres)
                  {
                      <p>@genre.name </p>
                      <p> | </p>
                  }
              </div>
              
              <p class="card-text">@Model.overview</p>
              <div class="container row">
                @foreach (var prod in Model.production_companies)
                {
                    <img style="height: 50px;width: 50px;" src='@("https://image.tmdb.org/t/p/w500" + @prod.logo_path)' alt="Card image cap">

                }
              </div>
              
              <p class="card-text"><small class="text-muted">Released on @Model.release_date.ToString()</small></p>
          </div>
        </div>
    </div>
</div>
</body>
</html>